.popover-content {
    min-width: 90% !important;
    }

.align-right{
    position: absolute;
    padding-right: 15px;
    right: 5px;
    color: #f3f3f3;
    text-align: right;
    width: 60vw;
    overflow: scroll;
}
ion-label{
    color: #f3f3f3 !important;
    font-weight: 500;
}
ion-title{
    color: #f3f3f3 !important;
    font-weight: 700;
}
ion-input{
    color: #f3f3f3;
    text-align: right;
}
ion-datetime{
    color: #f3f3f3;
}
ion-header{
    ion-toolbar{
        padding: 0px !important;
        height:max-content
    }
}
.add{
    margin: 40px 15%;
    width: 70%;
    border-radius: 5px;
    --background: #0061d5;
    font-size: 21px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
}
.close{
    --color: #fff;
}
::ng-deep  .popover-content {
    left: calc(19vw -  var(--ion-safe-area-right, 0px)) !important; 
    width: 80vw !important; 
    background: #0061d5 !important; 
    --background: #0061d5 !important; 
    background: #0061d5 !important; 
    --background: #0061d5 !important; 
    .sc-ion-select-popover-ios{
        font-size: 13px
    } 
    .sc-ion-select-popover-md{
        font-size: 13px
    } 
}
ion-select {
    /* Applies to the value and placeholder color */
    color: #f3f3f3;
  }


ion-content{
    --background: #000000cc;
    backdrop-filter: blur(16px);
    animation-duration: 1ms;
    -webkit-backdrop-filter: blur(16px);
}


ion-list, ion-header, ion-item{
    --background: transparent !important;
} 
ion-header,::ng-deep .modal-wrapper, ::ng-deep  .list-ios, ::ng-deep .sc-ion-modal-ios, ::ng-deep .toolbar-background {
    background: transparent !important;
    --background: transparent !important;
}

 ion-toolbar{
    background:#000000cc !important;
    --background: #000000cc !important;
    backdrop-filter: blur(16px);
    // background:#000000cc !important;
    // backdrop-filter: blur(16px);
}
