<ion-header translucent>
  <ion-toolbar>
    <ion-title>Modifica</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()" class="close">Chiudi</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item > 
      <ion-label>Servizio</ion-label>
    <ion-select interface="popover" placeholder="Seleziona un servizio" [(ngModel)]='service'>
      <ion-select-option *ngFor='let serv of services'  value='{{serv.id}}'>{{serv.name}}</ion-select-option>
    </ion-select>
    </ion-item>
    <ion-item *ngIf='service==-1'>
      <ion-label>Nome del servizio</ion-label>
    <ion-input class="align-right-1" [(ngModel)]="desc" placeholder="Visita spec."></ion-input>
  </ion-item >
    <ion-item >
        <ion-label>Nome cliente</ion-label>
      <ion-input class="align-right" [(ngModel)]="client_name" placeholder="Mario"></ion-input>
    </ion-item >
    <ion-item >
      <ion-label>Cellulare</ion-label> 
      <ion-chip style="z-index: 100;" color="primary" (click)='presentAlert()'>
          <ion-label >i</ion-label>
        </ion-chip>
    <ion-input class="align-right" inputmode="tel" [(ngModel)]="phone" placeholder="3312233645"></ion-input>
  </ion-item >
    <ion-item (click)='showDatePicker()'> 
      <ion-label>Data</ion-label>
      <div  [innerHTML]="today" class="align-right"></div>
    </ion-item>
    <ion-item > 
      <ion-label>Orario</ion-label>
    <ion-select interface="popover" placeholder="Seleziona un servizio" [(ngModel)]='time'>
      <ion-select-option *ngFor='let hour of hours_list'  value='{{hour}}'>{{hour}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item *ngIf='service==-1'>
    <ion-label>Durata</ion-label>
  <ion-select interface="popover" placeholder="Seleziona una durata" [(ngModel)]='duration'>
    <ion-select-option *ngFor='let dur of time_duration'  value='{{dur}}'>{{dur}}</ion-select-option>
  </ion-select>
  </ion-item>
  </ion-list>
  <ion-button class='add' (click)="updateAppointment()">Modifica</ion-button>
</ion-content>
