
ion-title{
  font-size: 16px;
  color: #41484e;
  font-weight: 400;
}
ion-content, ion-header{
  width:100vw

}
ion-content{
  margin-top:20px;
  --padding-bottom:150px;
}
$base_width: calc(100vw/7);
$margin_date: calc(calc(100vw -210px) /28);
.dates{
  height: 80px;
  position: absolute;
  background: #fff;
  overflow:hidden;
  white-space: nowrap;
  z-index: 1000000;
  -webkit-box-shadow:  0 4px 2px -2px  rgba(0,0,50,0.17);
    -moz-box-shadow:  0 4px 2px -2px  rgba(0,0,0,50.17);
    box-shadow:  0 4px 2px -2px  rgba(0,0,50,0.17);
  .date-today{
    display: block;
    width: 100vw;
    height: 30px;;
    text-align: center;
    padding-top: 5px;
    .d-month{
      width: max-content;
      font-size: 15px;
      color:#424242 ;
    }
    .d-day{
      width: max-content;
      font-size: 15px;
      color:#424242 ;
    }
    .d-year{
      width: max-content;
      font-size: 15px;
      color:#424242 ;
    }
  }
  div{
    height: 50px;
    display: inline-block;
    color: #424242;
    width: $base_width;
    text-align: center;
    span{
      display: block;
      // padding-top: 5px;
      height: 20px;
      height: auto;
    
    }
    .datenumber{
      text-align: center;

      line-height: 30px;
      font-size: 16px;
      margin: 0 auto;
      height: 30px;
      width: 30px;
      display: block;
    }
  }
  .active{
    background: #0061d5;
    border-radius: 50%;
    color: #fff;
  }
}
.dates::-webkit-scrollbar {
  display: none;
}
.dates{
  padding-top: 5px;
  -ms-overflow-style: none;
}
// .appoinment-cont{
//   overflow: scroll;
//   // border-radius: 15px;
//   background: var(--ion-color-dark-contrast);
//   margin-top: 0px;
//   display: block;
//   bottom: 0;
//   height: calc(100% - 50px);
// }
// .appoinment-cont:nth-child(odd){
//   border-left: #019aff 5px solid; ;
// }
// ion-card{
//   // border: var(--ion-color-primary) 1px solid;
//   color: #002d8e;
//   box-shadow: 0  0 10px 2px rgba(#4786ff, 0.4);
 
// }
// ion-card:nth-child(odd){
//   color: #019aff;
//   border-left: #019aff 5px solid; ;
//   ion-card-title{
//     font-size: 21px;
//     color: #002d8e;
//   }
//   ion-card-subtitle{
//     color: #019aff;
//   }
// }
// ion-card-header{
//   padding: 5px 20px 20px  20px; 
// }
// ion-card-content{
//   text-transform: capitalize;
// }
// ion-card:nth-child(even){
//   color: #002d8e;
//   border-left: #002d8e 5px solid; ;
//   ion-card-title{
//     font-size: 21px;
//     color: #019aff;
//   }
//   ion-card-subtitle{
//     color: #002d8e;
//   }
// }

// ion-card-content{
//   position: absolute;
//   bottom: 5px;
//   padding: 0px;
//   right: 10px;
//   .image{
//     border: var(--ion-color-primary) 1px solid;
//     height: 50px;
//     overflow: hidden;
//     width: 50px;
//     border-radius: 50%;
//     img{
//       height: 100%;
//     }
//   }
// }

.calendar{
  margin-top: 80px;
  padding-top:20px;
  overflow: auto;
  width: 100vw;
  .slot:nth-child(even){
    height: 30px;
    display: grid;
    grid-template-columns: 1fr 8fr;
      .time{
        color: #ffffff;

        line-height: 12px;
        margin-top: -6px;
        font-size: 12px;
      }
      .cell{
        height: 30px !important;
        display: block;
        border-bottom: #9EA1A4 1px solid;
      }
    }
  .slot:nth-child(odd){
    height: 30px;
    display: grid;
    grid-template-columns: 1fr 9fr;
      .time{
        color: #41484e;
        font-weight: 500;
        padding: 0px 5px;
        line-height: 12px;
        margin-top: -6px;
        margin-left: -2px;
        font-size: 12px;
        
      }
      .cell{
        height: 30px !important;
        display: block;
        border-bottom: #9EA1A4 1px solid;
      }
  }
}


:host ::ng-deep .task {
  font-size: 14px;
  width: 94%;
  margin: 0px 3%;
  border-radius: 5px;
  padding-left: 10px;
  display: block;
  position: relative;
  z-index: 10;
  .task-details{
      font-weight: 400;
      font-size: 13px;
      overflow: hidden;
      text-overflow: ellipsis;
      margin:  0px ;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .task-names{
    font-weight: 400;
    font-size: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    right:5px;
    bottom: 2px;
    margin:  0px ;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
}
:host ::ng-deep .c{
  &0{
    color: #85040a !important;
    background: #f2b3b3 !important;
  }
  &1{
    color: #b63a00;
    background: #fccbbc;
  }
  &2{
    color: #9c6b00;
    background: #fcecbe;
  }
  &3{
    color: #047a10;
    background: #c2e9d7;
  }
  &4{
    color: #0954cc;
    background: #b3e1f7;
  }
  &5{
    color: #4c21a3;
    background: #c5cbe9;
  }
  &6{
    color: rgb(68, 78, 126);
    background: #d7dbef;  
  }
  &7{
    color: rgb(95, 17, 131);
    background: #ddbde6;
  }
  &8{
    color:#291004;
    background: #d19a7a;
  }
  &9{
      color:#f3f3f3;
    background: #E80627
  }
    &10000{
      // height: 60px;
      width: 100%;
      margin: 0px !important;
      color: rgba(#98a0a6, 0.6);
      background-color: #ffffff;
      background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f2f2fe' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
      cursor: not-allowed;
      background-size: 20px 20px;
    }
}

///margin top calendar, http , splash screen

ion-menu-button{
  color:#0061d5;
}


ion-footer{
  position: absolute;
  height: 70px;
  display: block;
  z-index: 500;
  bottom: 0px;


}


ion-header{
  z-index: 10000;
  ion-buttons{
    font-size: 16px;
    color:  #0061d5;
  }
}


// ion-footer{
//   ion-toolbar{
//     padding: 15px 0px 25px 0px;
//   }
// }
.add-appointment{
  position: absolute;
  top: 0;
  color: white;
  border-radius: 10px;
  padding: 10px 0px ;
  width: 70vw;
  left: 15vw;
  font-size: 3vh;
  background: #0061d5;
  box-shadow: 0 5px 7px rgba(#4786ff, 0.2);
}
.spinner {
  top:0;
  width: 100vw;
  height:100%;
  background: #fff;
  position: absolute;
  text-align: center;
  z-index: 10000000;
}

.double-bounce1, .double-bounce2 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #0061d5;
  opacity: 0.6;
  position: absolute;
  left:calc(50vw - 20px);
  top:calc(50% - 20px);
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

ion-tab-bar{
  --color:#41484e !important;
  padding: 0px 0px  10px 0px;
  }
  ion-icon{
      height: 25px;
  }
  ion-label{
      line-height: 13px;
  }
  ion-tabs{
    ion-fab {
      margin-bottom: 5px; /* fix notch ios*/
      ion-fab-button {
        --box-shadow: none;
      }
    }
    ion-tab-bar {
      --border: 0;
      --background: #fff;
      position: absolute;
      bottom: 0;
      left:0; right: 0;
          width: 100%;
          -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,50,0.17);
          -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,50.17);
          box-shadow: 0px 0px 15px 0px rgba(0,0,50,0.17);
      &:after{
        content: " ";
        width: 100%;
        bottom: 0;
        background: #fff;
        height: env(safe-area-inset-bottom);
        position: absolute;
      }
      ion-tab-button {
        --background: #fff;
      }
      ion-tab-button.comments {
        margin-right: 0px;
        border-top-right-radius: 18px;
      }
      ion-tab-button.notifs {
        margin-left: 0px;
        border-top-left-radius: 18px;
      }
      svg {    
        width: 72px;
        margin-top: 19px;
        path{
          fill:  #fff;
        }		
      }
    }
  }