<body class='noti-lod'>
    <div class="spinner" [style.display]="spin">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
      </div>
<ion-header [translucent]="true">
  <ion-toolbar>
    <!--  (click)='logout()' -->
    <ion-buttons slot="start" >
     <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-buttons slot="end" (click)='presentMonth()'>
     {{month_name}}
    </ion-buttons>
</ion-toolbar> 
  <div class="dates"  (swipeleft)='nextWeek()' (swiperight)='pastWeek()'>
    <div (click)='todayAppointments(week[0])'><span>Lun</span><span [class.active]='day==week[0]' class="datenumber">{{week[0]}}</span></div>
    <div (click)='todayAppointments(week[1])'><span>Mar</span><span [class.active]='day==week[1]' class="datenumber">{{week[1]}}</span></div>
    <div (click)='todayAppointments(week[2])'><span>Mer</span><span [class.active]='day==week[2]' class="datenumber">{{week[2]}}</span></div>
    <div (click)='todayAppointments(week[3])'><span>Gio</span><span [class.active]='day==week[3]' class="datenumber">{{week[3]}}</span></div>
    <div (click)='todayAppointments(week[4])'><span>Ven</span><span [class.active]='day==week[4]' class="datenumber">{{week[4]}}</span></div>
    <div (click)='todayAppointments(week[5])'><span>Sab</span><span [class.active]='day==week[5]' class="datenumber">{{week[5]}}</span></div>
    <div (click)='todayAppointments(week[6])'><span>Dom</span><span [class.active]='day==week[6]' class="datenumber">{{week[6]}}</span></div>
    <span class="date-today"><div class="d-day">{{day}}&nbsp;</div><div class="d-month"> &nbsp;{{month_name}}&nbsp;</div><div class="d-year">{{year}}</div></span>
  </div>
</ion-header>

<ion-content >
<div class="calendar" (swipeleft)='nextWeek()' (swiperight)='pastWeek()'>

<div *ngFor='let time_slot of times; let i = index' class="slot" id='{{i + "-"}}'><div class="time">{{time_slot}}</div> <div  (press)='presentModal(i)' class="cell" id='{{i}}'></div></div>
<!-- <div><div class="time">8:15</div> <div class="cell"></div></div> -->
</div>

</ion-content>

<ion-footer>

    <ion-tabs  mode=ios >
      <!-- <ion-fab vertical="bottom" horizontal="center" translucent="true">
        <ion-fab-button (click)="buyTicket()">
          <ion-icon name="bus-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab> -->
      <ion-tab-bar slot="bottom"  mode=ios>
        <ion-tab-button   mode=ios (click)='goToday()'>
    
          <ion-icon name="today-outline"></ion-icon>
          <ion-label>Oggi</ion-label>
    
        </ion-tab-button>
       
        <!-- <svg height="50" viewBox="0 0 100 50" width="100" xmlns="http://www.w3.org/2000/svg"><path d="M100 0v50H0V0c.543 27.153 22.72 49 50 49S99.457 27.153 99.99 0h.01z" fill="#ffffff" fill-rule="evenodd"></path></svg> -->
        
        <ion-tab-button mode=ios (click)='presentModal(36)'>
          
          <ion-icon name="add-circle-outline"></ion-icon>
          <ion-label>Aggiungi</ion-label>
      
          
        </ion-tab-button>
    
        <ion-tab-button mode=ios (click)='presentClientActionSheet()'>
          <ion-icon name="albums-outline"></ion-icon>
          <ion-label>{{is_sport?  "Campo" :"Collaboratore"}}
          </ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    
    </ion-tabs>
    
  
</ion-footer>
</body>

