.m-calendar{
    width: 100vw;
    display: block;
    background: #fff;
    color: #343a40;
    .m-day-name{
        text-align: center;
        display: inline-block;
        width: calc(100% / 7) ;
    }
    .month_section{
        width: 100vw;
        display: block;
        h2{
            color: #0061d5;
            text-align: center;
        }
        .m-day{
            text-align: center;
            display: inline-block;
            line-height: 36px;
            padding: 0px;
            width: calc(100% / 7) ;
        }
    }
    
}
ion-title{
    color: #343a40;
    font-size:15px;
}
.active{
    background: #0061d5;
    display: block;
    height: 36px;
    margin: 0px auto;
    width: 36px;
    border-radius: 50%;
    color: #fff;
  }
.select-modal{
    background: transparent;
    .modal-wrapper { border-top-left-radius: 15px; border-top-right-radius: 15px;}
    padding-top: 200px   !important;
    padding-left: 5px   !important;
    padding-right: 5px   !important;
}
ion-header .m-calendar{
padding: 20px 0px;
}

body, ion-content{
    --background: #fff !important;
    background: #fff !important;
}