<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu swipeGesture="false" (swipeleft)='close()' contentId="main-content" type="overlay" >
      <ion-content >
        <ion-list id="inbox-list">
          <ion-list-header><span >pre</span><span>nota</span></ion-list-header>
          <!-- <ion-note>hi@ionicframework.com</ion-note> -->

          <ion-menu-toggle auto-hide="false">
            <!-- <ion-item (click)='navigateCalendar()'lines="none" detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item> -->
            <ion-item class="move-down" lines="none" detail="false" [class.selected]="selectedIndex == 0" (click)='navigateCalendar()'>
                <ion-icon slot="start" name="calendar-outline"></ion-icon>
                <ion-label>Calendario</ion-label>
            </ion-item>
            <ion-item lines="none" detail="false" (click)='assistence()'>
              <ion-icon slot="start" name="chatbubbles-outline"></ion-icon>
              <ion-label>Assistenza</ion-label>
          </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-item lines=none style="position: absolute; bottom:50px" (click)="logout()">
          <ion-icon slot="start" name="exit-outline"></ion-icon>
          <ion-label>Esci</ion-label>
        </ion-item>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content" [swipeGesture]="false"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
