<ion-header class="ion-no-border bar-header">
  <ion-toolbar style=" background: transparent !important; border:none !important;">
      <ion-icon slot="end" name="close-outline"  (click)='closeModal()'></ion-icon>
  </ion-toolbar>
</ion-header>


<ion-content  >
  <div class="icon-cont">
    <ion-icon name="person-circle-outline"></ion-icon>
  </div>
<h1>{{first_name}} {{last_name}}</h1>
 <div class="input-cont">
    <ion-item lines='none' >
 <ion-label position="stacked">Nome</ion-label>
  <ion-input [(ngModel)]='first_name' type="text" name="first_name"  autocapitalize=true></ion-input>
  <!-- <p *ngIf='first_name_err!=""'>{{first_name_err}}</p> -->
</ion-item>
<ion-item lines='none' >
  <ion-label position="stacked">Cognome</ion-label>
  <ion-input [(ngModel)]='last_name' type="text" name="last_name"  autocapitalize=true></ion-input>
  <!-- <p *ngIf='last_name_err!=""'>{{last_name_err}}</p> -->
</ion-item>
<ion-item lines='none' >
  <ion-label position="stacked">Email</ion-label>
  <ion-input [(ngModel)]='email' type="email" name="email" ></ion-input>
  <!-- <p *ngIf='email_err!=""'>{{email_err}}</p> -->
</ion-item>
<ion-item lines='none' >
    <ion-label position="stacked">Cellulare</ion-label>
    <ion-input inputmode="tel" type="tel" [(ngModel)]='phone' ></ion-input>
    <!-- <p *ngIf='phone_err!=""'>{{phone_err}}</p> -->
  </ion-item>
  

  
  <div class="login-btn">
    <ion-button fill=outline color='primary' (click)='register()'>Aggiungi</ion-button>
   
  </div>
 
  
 </div>
</ion-content>

