
body{
    background: #0061d6;
   
}
input[type="text"] {
   
  }

  ion-input{
   
  }
  input{
   
  }
ion-button p{
color: white;
font-weight: 500;;
}
.login{
    width: 100vw;
    text-align: center;
    color:#343a40;
    a{
       text-decoration: none;
        color: #00479d;
      font-weight: 900;
    }
}
h1{
    // font-family: 'Comfortaa Bold' ;
    margin: 10px 0px;
    font-size: 28px;
    text-align: center;
    color:#343a40;
    font-weight: 700;
    span{
        font-size: 11px;
    }
}
.input-cont{
    position: absolute;
    top: 180px;
   
    ion-item{
        font-size: 13px !important;
        color:#343a40;;
        width: 80vw;
        left:10vw;
        max-height: 65px;
    }
    ion-label{
        max-height: 15px;
        line-height: 13px !important;
        font-size: 13px !important;
    }
    ion-input{
       
        max-height: 30px;
        --placeholder-opacity: 0.9;
        --placeholder-color: rgb(168, 2, 2);
        border-bottom: 1px #343a40 solid;
    }
}
.login-btn{
    width: 100vw;
    text-align: center;
    padding:0vw 10vw;
    margin: 30px 0px;
    color: #343a40 !important;
    border: #343a40 !important;
    ion-button{
width: 70vw;
left: 15vw;
    }
 p{
     font-size: 10px;
     color: #343a40;
     a{
        text-decoration: none;
        font-size: 10px;
        color: #00479d;
      font-weight: 900;         
     }
 }
}
p{
    display: block;
    width: 100vw;
}
.err{
    font-weight: 700;
    margin-left: 10vw !important;
    color:#fff;
    width: 80vw;
    text-align: center;
}


  ion-icon{
    margin-right:10px;
    font-size: 32px;
    color: #343a40;
}


ion-header{
border: none !important;
    height: 50px;
    
}
.icon-cont{
width: 100vw;
height: 50px;
text-align: center;
ion-icon{
    font-size: 60px;
    line-height: 70px;
}
}
.bar-header {
    border: 0px !important;
    margin-top: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
}


    ion-content{
        --padding-top:50px;
        background-image: url(./../../../assets/Waves-multiple.svg) !important;
        background-repeat: no-repeat;
        background-size: cover;
        // height: 100vh;
        overflow: hidden;
    }
    


ion-list,  ion-item{
    --background: transparent !important;
} 

ion-header{
    background: #343a40;
     --background: #343a40;
      color:#343a40;
      font-family: 'Comfortaa Bold';
      border: none !important;
  }
  ion-tab-bar{
    --background: #343a40;
  }
 
.hide-option, .show-option{
    color: #343a40;
    position: absolute;
    right: 0px;
    height: 50%;
    top:25%;
    display: block;
    z-index: 1000;
  }