/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@font-face {
  font-family: "Comfortaa Regular";
  src: url('./assets/Comfortaa/static/Comfortaa-Regular.ttf') format('opentype');
}
@font-face {
  font-family: "Comfortaa Bold";
  src: url('./assets/Comfortaa/static/Comfortaa-Bold.ttf') format('opentype');
}

.select-modal{
  background: transparent;
  .modal-wrapper { border-top-left-radius: 15px; border-top-right-radius: 15px;}
  padding-top: 80px   !important;
  padding-left: 0px   !important;
  padding-right: 0px   !important;
}
:root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
  }
ion-app{
    background: white;
  }
ion-header{
    background: white;
    margin-top:10px;
    padding: 0px 0px 0px 0px;
    ion-toolbar{
        padding: 0px 10px;
    }

  }
  body, html{
    font-family: 'Roboto', sans-serif !important;
  }
ion-title {
    width: 100vw !important;
    position: absolute !important;
    left:0px !important;
    bottom:15px;
    text-align:center !important;
  }
//   :root {
//     .popover-content {
//         left: calc(5vw -  var(--ion-safe-area-right, 0px)) !important; 
//         width: 90vw;
        
//         ion-lable{
//           font-size: 11px !important;
//           --font-size: 11px !important;
//         }
//     }
// } 
.toast-class{
  --background: #0061d5;
  --color:white;
  position: fixed;
  top:10px; 
  font-size: 15px!important;
  font-weight: 500!important;
   text-align: center!important;
 }