.not-el{
    position: relative;
    width: 90vw;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
    margin: 20px 5vw;
    background: #0061d5;
    color: white;
    .date{
        display: inline-block;
        padding: 0px 5px
    }
    .hour{
        right: 20px;
        // top: 2px;
        position: absolute;
        display: inline-block;
        padding: 0px 5px
        }
    .service{
        font-weight: 600;
        font-size: 18px;
        display: block;
        padding:10px 5px;
        }
    .name{
        display: block;
        padding: 0px 5px
        }
}
ion-content{
    --background: #fafafa
}
ion-title{
    font-size: 21px;
    color: #0061d5;
    font-weight: 600;
  }

  ion-header{
    z-index: 10000;
    ion-buttons{
      color:  #0061d5;
    }
  }

.faded{
    opacity: 0.7;
}
.no-disp{
    display: none !important;
}

.spinner {
    top:0;
    width: 100vw;
    height:100%;
    background: white;
    position: absolute;
    text-align: center;
    z-index: 10000000;
  }
  
  .double-bounce1, .double-bounce2 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #0061d5;
    opacity: 0.6;
    position: absolute;
    left:calc(50vw - 20px);
    top:calc(50% - 20px);
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }
  
  .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }