<ion-header [translucent]="true">
    <ion-toolbar>
      <!--  (click)='logout()' -->
      <ion-buttons slot="start" >
       <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title >Appuntamenti</ion-title>   
    </ion-toolbar> 
</ion-header>
<ion-content>
    <div class="spinner" [style.display]="spin">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
      </div>
    <div class='not-el' *ngFor='let app of last_external; let ind =index' [class.no-disp]='day>app.day && month>=app.month'>
        <!-- <span class="serial">{{ind+1}}.</span> -->
       <span *ngIf='(app.day >=day && app.month >=month) || app.month >month'  >
        <span class="date">Data: {{app.day}}/{{app.month+1}}/{{app.year}}</span>
        <span class="hour">Ora: {{rows[app.start]}}</span>
        <!-- <span>{{app.phone}}</span> -->
       <span class="service">{{app.details}}</span> 
       
        
        <span class="name">{{app.client_name}}</span>
        <!-- <span style="text-align: left;" *ngIf='app.day >=day && app.month >=month'> -->
            <!-- <span class="badge badge-complete">Nuovo</span>
        </span>
        <span style="text-align: left;" *ngIf='day>app.day && month>=app.month'>
            <span class="badge badge-pending">Passato</span>-->
        <!-- </span>  -->
        </span>
    </div>
      <!-- <div class='not-el' *ngFor='let app of last_external; let ind =index'  [class.faded]='day>app.day && month>=app.month'>
         <span *ngIf='day>app.day && month>=app.month'>
          <span class="date">Data: {{app.day}}/{{app.month+1}}/{{app.year}}</span>
          <span class="hour">Ora: {{rows[app.start]}}</span>
         <span class="service">{{app.details}}</span> 
         
          
          <span class="name">{{app.client_name}}</span>
       
          </span>
      </div> -->
      
</ion-content>
