ion-list-header{
    --background:#fff;
    background:#fff;
    color: #0061d5;
    font-size: 18px;
    font-weight: 500;
}
ion-item{
    color: #0061d5;
    font-weight: 400;
}
ion-list{
    color: #0061d5;
}